<a href="https://colab.research.google.com/github/Solayman-Emon/Python_Practise/blob/master/FCO_Practice_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data structures in Python**
---
---

**Lists**
---
List is a sequence data structure. List are mutable

In [1]:
emptyList = []

lst = ['one', 'two', 'three', 'four']   # list of strings
lst1 = [1, 32, 9, 3]                    # list of integers
lst2 = [1, 'rm', 3.2]                   # list of different data types

lst3 = [[1,2], [4, 2]]                  # list of lists

print(lst)
print(lst1)
print(type(lst3))

['one', 'two', 'three', 'four']
[1, 32, 9, 3]
<class 'list'>

**Length of the List**

In [3]:
print(len(lst))

print(len(lst1))

print(len(lst2))

print(len(lst3))

4
4
3
2

**List Append**

In [6]:
# Syntax: lst.append(x)
# append will add the item x in the end of the list

lst.append('six')    
print(lst)

['one', 'two', 'three', 'four', 'five', 'five', 'six']

**List Insert**

In [7]:
# Syntax: lst.insert(x, y)
# add element y at location x

lst.insert(5, 'six')
lst.insert(6, 'seven')     # The previous elements of that position will shifted, not deleted

print(lst)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'five', 'six']

**List Remove**

In [8]:
# Syntax: lst.remove(x)
# the first occurence of element x will be removed from the list

lst.remove('five')
print(lst)

['one', 'two', 'three', 'four', 'six', 'seven', 'five', 'six']

**List Append and Extend**

In [10]:
lst = [1, 2, 3, 4]
lst1 = [5, 6, 7]

lst.append(lst1)
print(lst)

[1, 2, 3, 4, [5, 6, 7]]

In [11]:
lst = [1, 2, 3, 4]
lst1 = [5, 6, 7]

lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

**List Delete**

In [13]:
# Syntax: del lst[x]
# remove item based on the location x

lst = ['one', 'two', 'three', 'four', 'five']
del lst[1]
print(lst)

# we can use pop(x) function to remove the item. pop() function also return the removed item.

pop_item = lst.pop(1)
print(pop_item)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']