<a href="https://colab.research.google.com/github/Solayman-Emon/Python_Practise/blob/master/FCO_Practice_1st.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Keywords**
---

---

Keywords are the reserved words in Python.
Keyword's name can't be used as a variable name, function name or any other identifiers. Keywords are case sensitive.

In [0]:
# Keywords in Python

import keyword   # Here "keyword" is a module
print(keyword.kwlist)
print('\nThe total number of keyword: ', len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

The total number of keyword:  33

**Identifiers**
---

---

Identifier is the name given to entities like variable, function, class in Python. 

---

Rules for writing identifies:::
1. Identifiers can be combination of lowercase (a - z) or uppercase (A - Z) letters or digits (0 - 9) or an underscore (_). 
2. An identifier can not start with a digit.
3. Keywords can not be used as identifiers.
4. Special symbols such as ! @ # $ % can not be used in identifier

In [0]:
12_abc = 12  # Identifiers can't start with digits

SyntaxError: ignored

In [0]:
ab@ = 3  # Can not be used special symbols (@ # ! $ %) in identifiers

SyntaxError: ignored

**Comments in Python**
---

---

In [0]:
print('Hello Python') # This is a single line comment

Hello Python

**Variables**
---

---

In [0]:
# Variable Assignment

x = 12
y = 1.1
z = 'ML'

In [0]:
# Multiple Assignment

x, y, z = 12, 1.1, 'ML'
print(y)
print(z)

1.1
ML

In [0]:
# Variable's Storage Location

x = 3
print(id(x))  # print the address of the variable x's location

y = 3 
print(id(x))  # print the address of the variable y's location

10914560
10914560

In [0]:
# type of variables

x = 13.2
print(x, 'is type of', type(x))

y = 'This is a string'
print(y, 'is type of ', type(y))

z = True
print(z, 'is type of', type(z))

tp_x = isinstance(x, float)
if(tp_x == True):
  print(x, 'type is Float')

13.2 is type of <class 'float'>
This is a string is type of  <class 'str'>
True is type of <class 'bool'>
13.2 type is Float

**Python String**
---

---
Python String is a sequence of Unicode Characters, not ASCCI.

In [0]:
name = 'Solayman Hossain'
print(name)
print(type(name))

bangla = 'সোলায়মান হোসেন'
print(bangla)

Solayman Hossain
<class 'str'>
সোলায়মান হোসেন

In [0]:
st = ''' This is multiple 
          line string '''    # Multiple line String

print(st)
print(type(st))

 This is multiple
          line string
<class 'str'>

In [0]:
s = '''This is
        multiple'''


print(s[-1])         # print the last character of the string
print(s[len(s)-1])   # print the last character of the string 
print(s[0])          # print the first character of the string
print(type(s))      

# String Slicing

print(s[5 : ])       # print from index 5 to ends
print(s[5 : 8])      # print from index 5 to 7

e
e
T
<class 'str'>
is
        multiple
is

**Python List**
---
---

In [0]:
lst = [12, 13.2, 'hello']
print(lst)

# python list are mutable, means the elements of the list can modify

lst[1] = 14.2
print(lst)

print(type(lst))

[12, 13.2, 'hello']
[12, 14.2, 'hello']
<class 'list'>

**Python Tuple**
---
---

In [0]:
tpl = (13, 23.4, 'ML')
print(tpl)
print(type(tpl))

# Tuple is immutable, means the elements of the tuple can not be modified

(13, 23.4, 'ML')
<class 'tuple'>

In [0]:
tpl[1] = 34.3

TypeError: ignored

**Python Set**
---
---

In [0]:
a = {1, 2, 23, 12}
print(type(a))
print(a)

b = {1, 10, 10, 10, 12, 45}  # Set only consider unique value. Automatically won't consider the duplicate values.
print(b)

<class 'set'>
{1, 2, 12, 23}
{1, 10, 12, 45}

In [0]:
print(a[1])    # Set does not allow indexing, as it is the unoder collection of items

TypeError: ignored

**Python Dictionary**
---
---

In [0]:
d = {'a': "apple", 'b': "banana"}   # Dictionaries items are in form of key : value
print(d['a'])

apple

**Conversion Between Data Types**
---
---

In [0]:
float(10)

10.0

In [0]:
int(10.5)

10

In [0]:
str(20)

'20'

In [0]:
int(10p)

SyntaxError: ignored

In [0]:
user = 'Emon'
lines = 1000

print('Congrats '+ user + ', you have wrote '+str(lines)+ ' lines codes')

Congrats Emon, you have wrote 1000 lines codes

In [0]:
a = [2, 4, 5, 6]
print(type(a))

s = set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [0]:
# convert string to list 

list('hello')

['h', 'e', 'l', 'l', 'o']

**Python Input and Output**
---
---

In [0]:
a = 10
print('The value of a is ', a)
print('The value of a is ' + str(a))

The value of a is  10
The value of a is 10

In [0]:
a = 10
b = 30

print('The value of a is {} and the value of b is {}'.format(a, b))

The value of a is 10 and the value of b is 30

In [0]:
# Specify Postion

a = 10
b = 30

print('The value of b is {1} and the value of a is {0}'.format(a, b))    # (a, b) represent (0, 1) index

The value of b is 30 and the value of a is 10

In [0]:
print('Hello {name}, {greet}'.format(name = 'Emon', greet = 'Congrats'))

Hello Emon, Congrats

In [0]:
print('The story of {0}, {1} and {other}'.format('Emon', 'Tushar', other = 'Sajid'))

The story of Emon, Tushar and Sajid

In [0]:
num = input("Enter a number")
print(num)

Enter a number9
9

**Operators**
---
---
Operators are the special symbols in python that carry out arithmetic or logical computation. The value that operator operates calld operand.


---
**Operator Type**
1. Arithmetic Operators
2. Comparison (Relational) Operators
3. Logical (Boolean) Operators
4. Bitwise Operators
5. Assignment Operators
6. Special Operators

---

In [0]:
# << Arithmetic Operators >>

# Addition (+)
# Subtraction (-)
# Multiplication (*)
# Division (/)
# Floor Division (//)
# Modulus (%)
# Exponent (**)

print(15 + 2)
print(2 - 15)
print(15 * 2)
print(15 / 2)
print(15 // 2)    # 7.5 closed and less than 7.5 integer is 7(Seven)
print(15 % 2)
print(2 ** 3)     # 2 ** 3 means 2^3
print(-15 // 2)

17
-13
30
7.5
7
1
8
-8

In [0]:
# << Comparison (Relation) Operators >>
# >, <, ==, !=, >=, <= are comparison operators

a, b = 10, 20

print(a < b)
print(a > b)

True
False

In [0]:
# << Logical Operators >>
# and, or and not are logical operators

a, b = True, False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [0]:
# << Bitwise Operators >>
# & | ~ ^ >> << are Bitwise Operators

a, b = 10, 4

print(a & b)

0

In [0]:
# << Assignment Operators >>

# = += -= *= /= %= //= **= &= |= ^= >>= <<=  are asssignment operators

a = 10

a += 10      # a += 10 --> a = a + 10
print(a)

a -= 10      # a -= 10 --> a = a - 10
print(a)

a *= 10      # a *= 10 --> a = a * 10
print(a)

a /= 10      # a /= 10 --> a = a / 10
print(a)

a //= 10      # a //= 10 --> a = a // 10
print(a)

20
10
100
10.0
1.0

**Special Operators**
---
---
**Identity Operators**

---
is and is not are the identity operators in Python

In [0]:
a = 10 
b = 10 

print(a is b)
print(a is not b)

True
False

In [0]:
lst = [1, 3, 4]
lst1 = [1, 3, 4]

print(lst is lst1)       # complex variable like list are not refer the same location despite having same data
print(lst is not lst1)

False
True

**Membership Operators**

---
in and not in are the membership operators in Python

---

In [0]:
ls = [1, 3, 5, 6]

print(3 in ls)
print(3 not in ls)

True
False

In [0]:
dd = {'a': 'am', 'p': 'pm'}

print('a' in dd)
print(a in dd)
print(a not in dd)

True
False
True

**Flow Control Statement**
---
---
**if...else Statement in Python**

In [0]:
# 0, None and False are ---> False
# expect 0, None and False everything like -1, 2233 are ---> True

num = 10 

if num < 10:
  print('Number is less than ten')

else: 
  print('Number is not less than ten')  

if 0:
  print('This will not be printed...')

else:
  print('This will be printed...')

if None:
  print('This will not be printed')

else:
  print('This will be printed')  

if -3:
  print('This will printed')

else:
  print('This will not be printed')

Number is not less than ten
This will be printed...
This will be printed
This will printed

**if...elif...else Statement**
---
---

In [0]:
num = 10.4

if num > 0:
  print('The number is positive')

elif num == 0:
  print('The number is zero')

else:
  print('The number is negative')

The number is positive

**Nested if...else Statement**
---
---

**While Loop**
---
---

In [0]:
lsst = [1, 2, 3, 4]

product = 1
index = 0

while index < len(lsst):
  product = product * lsst[index] 
  index += 1

else:
  print('There is no item left in the list')       # when conddition of the while is false, then execute the else part

print('The production is {}' .format(product))

There is no item left in the list
The production is 24

In [0]:
n = int(input('Enter a number::'))
i = 2
isDivisible = False

while i < n:
  if n % i == 0:
    isDivisible = True
    print('{} is divided by {}'.format(n, i))
  i += 1

if isDivisible == True:
  print('{} is not a prime number'.format(n))

else:
  print('{} is a prime number'.format(n))

Enter a number::7
7 is a prime number

**For Loop**
---
---

In [0]:
ls1 = [1, 2, 3, 4]

product = 1

# iterating over the list
for element in ls1:
  product *= element

print('The production is {}'.format(product))

The production is 24

In [0]:
# range(10), 10 means (0 to 9)

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
# range(start, end, step size)  

for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [0]:
lst = ['Jamal', 'Kamal', 'Jaman']
lst1 = ['Mitu', 'Jithu', 'Jeshmin']

for i in range(len(lst)):
  print(lst[i])

else:
  print('No item are left in the list ')  

print('<<< ------- >>>')  

for element in lst:
  print(element) 

else:
  print('No item are left in the list')

Jamal
Kamal
Jaman
No item are left in the list
<<< ------- >>>
Jamal
Kamal
Jaman
No item are left in the list

In [0]:
# Finding prime numbers within an interval

num = int(input('Enter the 1st number:: '))
num1 = int(input('Enter the 2nd number:: '))

for i in range(num, num1 + 1):

  isDivisible = False

  for j in range(2, i - 1):
    if i % j == 0:
      isDivisible = True

  if not isDivisible:
    print(i)

Enter the 1st number:: 10
Enter the 2nd number:: 50
11
13
17
19
23
29
31
37
41
43
47

**break and continue Statement**
---

---

In [0]:
lst = [1, 2, 3, 4, 5]

for i in lst:
  if(i == 4):
    break
  print(i)

else:
  print('This will not be printed...')      # break will bring outside of the logical chunk of the loop including for, else part 

print('This will printed always')

1
2
3
This will printed always

In [0]:
num = int(input('Enter a number :: '))

i = 2
isDivisible = False

while i < num:
  if num % i == 0:
    isDivisible = True
    break
  i += 1  

if isDivisible == True:
   print('{} is not a prime number'.format(num))

else:
   print('{} is a prime number'.format(num))

Enter a number :: 3
3 is a prime number

In [0]:
# printing the odd numbers

lst = [1, 2, 3, 5, 6, 7]

for i in lst:
  if i % 2 == 0:
    continue
  print(i)

else:
  print('This is else block...')

1
3
5
7
This is else block...