<a href="https://colab.research.google.com/github/Solayman-Emon/Python_Practise/blob/master/FCO_Practice_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data structures in Python**
---
---

**Lists**
---
List is a sequence data structure. List are mutable

In [1]:
emptyList = []

lst = ['one', 'two', 'three', 'four']   # list of strings
lst1 = [1, 32, 9, 3]                    # list of integers
lst2 = [1, 'rm', 3.2]                   # list of different data types

lst3 = [[1,2], [4, 2]]                  # list of lists

print(lst)
print(lst1)
print(type(lst3))

['one', 'two', 'three', 'four']
[1, 32, 9, 3]
<class 'list'>

**Length of the List**

In [3]:
print(len(lst))

print(len(lst1))

print(len(lst2))

print(len(lst3))

4
4
3
2

**List Append**

In [6]:
# Syntax: lst.append(x)
# append will add the item x in the end of the list

lst.append('six')    
print(lst)

['one', 'two', 'three', 'four', 'five', 'five', 'six']

**List Insert**

In [7]:
# Syntax: lst.insert(x, y)
# add element y at location x

lst.insert(5, 'six')
lst.insert(6, 'seven')     # The previous elements of that position will shifted, not deleted

print(lst)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'five', 'six']

**List Remove**

In [8]:
# Syntax: lst.remove(x)
# the first occurence of element x will be removed from the list

lst.remove('five')
print(lst)

['one', 'two', 'three', 'four', 'six', 'seven', 'five', 'six']

**List Append and Extend**

In [10]:
lst = [1, 2, 3, 4]
lst1 = [5, 6, 7]

lst.append(lst1)
print(lst)

[1, 2, 3, 4, [5, 6, 7]]

In [11]:
lst = [1, 2, 3, 4]
lst1 = [5, 6, 7]

lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

**List Delete**

In [13]:
# Syntax: del lst[x]
# remove item based on the location x

lst = ['one', 'two', 'three', 'four', 'five']
del lst[1]
print(lst)

# we can use pop(x) function to remove the item. pop() function also return the removed item.

pop_item = lst.pop(1)
print(pop_item)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

**in and not in keyword**

In [15]:
# in and not in keyword is used for testing if an element is in list or not

lst = ['one', 'two', 'three', 'four', 'five']

if 'two' in lst:
  print('paichi...')

if 'six' not in lst:
  print('Done...')

paichi...
Done...

**List Reverse**

In [19]:
lst = [1, 56.6, 34, -12, 4]
lst.reverse()
print(lst)

[4, -12, 34, 56.6, 1]

**List Sort**

In [18]:
# sort() function will sort the list and stored in itself

lst = [1, 56.6, 34, -12, 4]
lst.sort()
print(lst)

[-12, 1, 4, 34, 56.6]

In [22]:
number = [2, 0, -34, 23, 6]

sorted_lst = sorted(number)

print(sorted_lst)
print(number)               # original list will remain unchanged

[-34, 0, 2, 6, 23]
[2, 0, -34, 23, 6]

In [24]:
number = [2, 0, -34, 23, 6]

sorted_lst = sorted(number, reverse = True)    # sort the list in reverse order

print(sorted_lst)

[23, 6, 2, 0, -34]

**List Having Multiple References**

In [26]:
lst = [1, 2, 3, 2]
abc = lst
abc.append(5)

print(lst)          # print the original list

[1, 2, 3, 2, 5]

**String Split to Create a List**

In [31]:
s = 'one, two, three, four'

lst = s.split(',')         # Split the string based on comma(,)
lst1 = s.split('e')

print(lst)
print(lst1)

s1 = 'This is my python practice'
lst2 = s1.split()          # default split is white-character (space or tab)

print(lst2)

['one', ' two', ' three', ' four']
['on', ', two, thr', '', ', four']
['This', 'is', 'my', 'python', 'practice']

**List Indexing**

In [32]:
lst = [2, 3, 4, 3]
print(lst[2])          # print the 3rd list element
print(lst[-1])         # print the last list element

4
3

**List Slicing**

In [37]:
# Syntax: lst[start : end : step-size] ---> lst[x : y : z] means from x to y-1

lst = [2, 4, 67, 8, 9]

print(lst[:])            # print all the elements in the list 
print(lst[0:4])

print(lst[::2])
print(lst[0::2])

[2, 4, 67, 8, 9]
[2, 4, 67, 8]
[2, 67, 9]
[2, 67, 9]

**List Extend Using "+"**

In [38]:
lst = [2, 5, 7, 3.4]
lst1 = ['pap', 'gardi', 'eto']

new_lst = lst + lst1
print(new_lst)

[2, 5, 7, 3.4, 'pap', 'gardi', 'eto']

**List Count**

In [39]:
lst = [1, 23, 24, 3, 2, 3, 3, 5]

print(lst.count(3))              # frequency of an element in list

3

**List Looping**

In [40]:
name = ['lili', 'jui', 'promi', 'somi']

for element in name:
  print(element)

lili
jui
promi
somi

**List Comprehensions**

----
List Comprehensions provides a concise way to create lists

In [41]:
# Without List Comprehension
# Squares of numbers

squares = []

for i in range(10):
  squares.append(i ** 2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
# With List Comprehension

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
lst = [-10, -20, 10, 430, 32]

new_list = [i**2 for i in lst]
print(new_list)

new_lst = [i**2 for i in lst if i > 0]
print(new_lst)

new_ls = [(i, i**2) for i in lst]
print(new_ls)

[100, 400, 100, 184900, 1024]
[100, 184900, 1024]
[(-10, 100), (-20, 400), (10, 100), (430, 184900), (32, 1024)]

**Nested List Comprehensions**