<a href="https://colab.research.google.com/github/Solayman-Emon/Python_Practise/blob/master/python_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello World !!!")
print('Hello World !!!')

Hello World !!!
Hello World !!!

In [0]:
my_Name = "Solayman Hossain Emon"
print("My name is ", my_Name)
num = 22
print("My age is", num)

My name is  Solayman Hossain Emon
My age is 22

In [0]:
 # this is a comment

In [0]:
print("The sum of 2 + 3 is ::", 2 + 3)

The sum of 2 + 3 is :: 5

In [0]:
print("The multiplication of 2 x 3 is ::", 2 * 3)

The multiplication of 2 x 3 is :: 6

In [0]:
print("The power of 2 to the power 3 is ::", 2 ** 3) # 2 ** 3 means 2^3

The power of 2 to the power 3 is :: 8

In [0]:
print("The output of 2/3 is ::", 2 / 3)

The output of 2/3 is :: 0.6666666666666666

In [0]:
Text = "My name is "  # String Concatenation
my_Name = "Solayman Hossain Emon"
print(Text + my_Name)

My name is Solayman Hossain Emon

In [0]:
Text = "Two and two makes : "
num = 2 + 2 
result = str(num) # convert other's variable type to String type
print (Text + result)

Two and two makes : 4

In [0]:
x , y = (3, 5)
print("The x value is ", x , "And", "The y value is ", y)

The x value is  3 And The y value is  5

In [0]:
x , y , z , u = (3, 6, 2, 4.2)
print(u)

4.2

In [0]:
# If else statements
age = 19         # indetension is must , otherwise get erro !!!

if(age <= 13):
  print("You are a kid")
  
elif(age <= 18): 
  print("You are a teenager")
  
else:
  print("You are an adult")

You are an adult

In [0]:
a = 1
a = 10
print(a)
a = 4;
print(a)

10
4

In [0]:
# while loop

i = 0                      # i++ or i-- don't exist in python 
while i < 5 :
  print("I am learning python...")
  i += 1;
  
print("Finished...")

I am learning python...
I am learning python...
I am learning python...
I am learning python...
I am learning python...
Finished...

In [0]:
# list and for loop
data = [2, 4, 5, 4, 32, 3.1] # it's a list 
print("The elements of the list are :", data)

for x in data :
  print(x)

The elements of the list are : [2, 4, 5, 4, 32, 3.1]
2
4
5
4
32
3.1

In [0]:
# Function is python

def Area(x, y, z) :
  area = x * y * z
  print("Area is :", area)
  
length = 4
width = 5
height = 3
Area(length, width, height)

Area is : 60

In [0]:
# Default parameter in python function
def SimpleFunction(num, num1 = 9) :   
  print(num, "and", num1)
  
SimpleFunction(3)      # Default parameter is taken , as there is absence of one parameter
SimpleFunction(3, 10)

def Wish(name, wish = "Happy Birthday to ") :
  print(wish, name)
  
Wish("Emon")    # Default parameter is taken , as there is absence of one parameter
Wish("Emon", "Eid Mubarak")

3 and 9
3 and 10
Happy Birthday to  Emon
Eid Mubarak Emon

In [0]:
# global variable 
var = 10

def simpleFunction() :
  # var += 1     # this line give an error , because the change of global variable inside a function is no permitted
                 # Because when another function access the global variable it will get the updated value , so the 
                 # modification is not permitted...
  loc = var + 1    
  print(loc)
  
def simpleFunction1() :
  print(var)
  
simpleFunction()
simpleFunction1()

11
10

In [0]:
# object oriented python 
class user :
  name = ""
  email = ""
  password = ""
  login = False 
  
  def login(self) :
    email = input("Enter your E-mail")
    password = input("Enter your Password")
    
    if email == self.email and password == self.password :
      login = True 
      print("Login Success, Welcome !!!")
      
    else :
      print("Login Failed")
      
user = user();
user.name = "Emon"
user.email = "emonqt19@gmail.com"
user.password = "1234"
user.login()

Enter your E-maildfd
Enter your Passworddfdk
Login Failed

In [0]:
# Constructor in python
class demo :
  def __init__(self) :
    print("I am a Constructor")

demo = demo()

I am a Constructor

In [0]:
# list and touple 
list = [3, 2, 4, 3.2, 2.1, -2]   # list can be modified, but touple can not be modified
truple = (2, 1, 2.2, -1, 7)
list[0] = 1          # list is modified
print(list)
# truple[0] = 1      # truple can not be modified
print(truple[2])

[1, 2, 4, 3.2, 2.1, -2]
2.2

In [0]:
# list access
list = [2, 3, 1, -2, 2.3, 7]
print(list[-1])   # print the 1st element from the end of the list
print(list[-3])   # print the 3rd element from the end of the list

7
-2

In [0]:
# list , nested list
list = [3, 2, -1, 2.3, 4, "Hello"]
print(list)

list1 = [[3, 4, "junayed"], 3, 2, "emon",3]
print(list1[0])
print(list1[0][2])

list.append(33)  # add the element last in the list 
print("After append 33 the list is :", list)
list.insert(6,22) # first parameter is position
print("After inserting value at postion 6 :", list)
list.insert(2, 90)
print(list)
list.extend([3, 2, 1])
print(list)
list = list + [1, 2]
print(list)
list.remove(1) # parameter is removed elemeent, not the index .. remove the element when get the first match
print(list)
list.remove(list[0]) # index wise removed
list.remove("Hello")
print(list)
list.pop() # remove the last element of the list, reverse of append() function
print(list)
list.sort()
print(list)
print(list.index(2))  # return the index number of the element
print(list.count(2))

[3, 2, -1, 2.3, 4, 'Hello']
[3, 4, 'junayed']
junayed
After append 33 the list is : [3, 2, -1, 2.3, 4, 'Hello', 33]
After inserting value at postion 6 : [3, 2, -1, 2.3, 4, 'Hello', 22, 33]
[3, 2, 90, -1, 2.3, 4, 'Hello', 22, 33]
[3, 2, 90, -1, 2.3, 4, 'Hello', 22, 33, 3, 2, 1]
[3, 2, 90, -1, 2.3, 4, 'Hello', 22, 33, 3, 2, 1, 1, 2]
[3, 2, 90, -1, 2.3, 4, 'Hello', 22, 33, 3, 2, 1, 2]
[2, 90, -1, 2.3, 4, 22, 33, 3, 2, 1, 2]
[2, 90, -1, 2.3, 4, 22, 33, 3, 2, 1]
[-1, 1, 2, 2, 2.3, 3, 4, 22, 33, 90]
2
2

In [0]:
# dictionary                          # access data from custom key
dictionary = {"name" : "Emon", 
              "id" : "16.01.04.091",
              "year" : "3rd"
             }
dictionary["name"] = "Solayman"
print(dictionary["name"])
print(dictionary.get("name"))

for x in dictionary :
  print(x)
  
for x in dictionary :
  print(dictionary[x])
  
for x in dictionary.values() :
  print(x)
  
for x in dictionary.items() :
  print(x)
  
for x, y in dictionary.items() :
  print(x, y)
  print("--")
  
del dictionary["name"]
print(dictionary)

Solayman
Solayman
name
id
year
Solayman
16.01.04.091
3rd
Solayman
16.01.04.091
3rd
('name', 'Solayman')
('id', '16.01.04.091')
('year', '3rd')
name Solayman
--
id 16.01.04.091
--
year 3rd
--
{'id': '16.01.04.091', 'year': '3rd'}

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
sample_uploaded_data = json.load(open('emon.txt'))
print(sample_uploaded_data)

NameError: ignored